<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .app {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            counter-reset: app;
        }
        .item {
            position: relative;
        }
        .item::after {
            counter-increment: app;
            content: counter(app);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            font-size: 300px;
            color: #eee;
        }
        .item + .item {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div id="app" class="app">
        <input type="date" name="" id="" v-model="curDate">
        <div v-for="item in dateList" class="item">
            <h2>{{item.getDate()}}.{{item.getMonth()}}.{{item.getFullYear()}} </h2>
            <h3>Если прочие ошибки</h3>
            <br>
            <div v-for="(sum, index) in sumList">
                ({{sum}}) {{getDiffOther(index)}} 
            </div>
            <h3>Если мало денег</h3>
            <br>
            <low-sum v-bind:sum-list="sumList" v-bind:date="item" ></low-sum>
        </div>
    </div>
    <script>
        Vue.component('low-sum', {
            props: ['sumList', 'date'],
            date: function () {
                return {
                    counter: 0
                }
            },
            template: `
                <div>
                    <div v-for="(sum, index) in sumList">
                        {{getCurDate(date, index).getDate()}}.{{getCurDate(date, index).getMonth()}}.{{getCurDate(date, index).getFullYear()}}
                        ({{sum}})
                        {{getCurMessage(index)}}
                    </div>
                </div>
            `,
            methods: {
                getCurDate: function (curDate, index) {
                    let date = new Date(curDate.getTime());
                    date.setDate(date.getDate() + index);
                    return date;
                },
                getCurMessage: function (index) {
                    return index === 0 ? 'Первая попытка': 'Мало денег';
                }
            }
        });
        var app = new Vue({
            el: '#app',
            data: {
                hello: 'Hello',
                curDate: '',
                sumList: [
                    399,
                    149,
                    99,
                    55,
                    39
                ],
                counter: 0
            },
            methods: {
                getDiffOther: function (index) {
                    let result = index > 0 ? 'Прочие ошибки +4 часа' : 'Первая попытка';
                    return result;
                },
                getDiffSum: function () {
                    let result = this.counter > 0 ? 'Неудачная оплата' : '';
                    console.log(this.counter);
                    this.counter += 1;
                    return result;
                },
            },
            computed: {
                dateList: function () {
                    if (this.curDate.length === 0) {
                        return [];
                    }
                    console.log(generateDates(
                        new Date(this.curDate)
                    ))
                    return generateDates(
                        new Date(this.curDate)
                    );
                },
                newDate: function () {
                    
                }
            }
        });

        function generateDates (date) {
            let dates = [date];
            let lastDate = null;
            for (let i=0; i < 5; i++) {
                let curDate = lastDate ? new Date(lastDate.getTime()) : new Date(date.getTime());
                dates.push(
                    generateNewDate(curDate)
                );
                lastDate = curDate;
            }
            return dates;
        }

        function generateNewDate (date) {
            if (needNormalize(date)) {
                return normalize(date);
            }
            date.setDate(date.getDate() + 5);
            return normalize(date);
        }

        function needNormalize (date) {
            let day = date.getDate();
            return day % 5 !== 0;
        }

        function normalize (date) {
            let day = date.getDate();
            let dayFromFive = day % 5;
            if (dayFromFive !== 0) {
                date.setDate(date.getDate() - dayFromFive);
                date.setDate(date.getDate() + 5);
            }
            if (needNormalize(date)) {
                date = normalize(date);
            }
            return date;
        }
    </script>
</body>
</html>